$colorLigth: #ffffff;
$colorNight: #000000;


.grid-home {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "carr carr carr"
        "sect sect sect"
        "sect2 sect2 sect2"
        "foot foot foot";
}

.contenedor{
    grid-area: carr;
    height: 40rem;
    width: 100vw;
    img { 
        height:40rem;
        width: 100vw;
    }
}

.se1 {
    grid-area: sect;
    display: flex;
    flex-direction: column;
    width: 100vw;
    .titular {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
    }
    .cuadro1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 50rem;
        padding: 1rem;
        width: 100vw;
        .cuadro1__p {
            margin: 1rem;
            display: flex;
            align-items: center;
            width: 50rem;
            font-size: 3rem;
        }
        .cuadro1__img {
            margin: 1rem;
            display: flex;
            align-items: center;
            width: 30rem;
            font-size: 2rem;
        img {
            width: 100%;
            height: auto;
            border-radius: 2rem;
        }
    }
}
    .cuadro1--rev {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 50rem;
        padding: 1rem;
        .cuadro1__p {
            margin: 1rem;
            display: flex;
            align-items: center;
            width: 50rem;
            font-size: 3rem;
        }
        .cuadro1__img {
            margin: 1rem;
            display: flex;
            align-items: center;
            width: 30rem;
            font-size: 2rem;
        img {
            width: 100%;
            height: auto;
            border-radius: 2rem;
        }
}
    }
    .nuestros {
        background: linear-gradient(to left, black, transparent), url("../img/home/pexels-lucas-guizo-5337821.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        background-size: cover;
        height: 50rem;
        color: rgba(240, 248, 255, 0.815);
        p {
            text-align: center;
            margin: 3rem;
        }
    }
}



.se2 {
    grid-area: sect2;
    display: grid;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    .titulo__se2 {
        display: flex;
        align-items: center;
        justify-content:flex-start;
        height: 10rem;
        padding: 2rem;
        width: 100vw;
        background-color:$colorNight;
        color: $colorLigth;
        font-stretch: extra-expanded;
        font-variant: all-petite-caps;
        letter-spacing: 1rem;
    }
    .pro {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        height: 30rem;
        a {
            text-decoration: none;
            color: $colorLigth;
        }
        .prod__lacteos {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, rgba(128, 128, 128, 0.664),rgba(255, 255, 255, 0.137)), url("../img/home/productos/lacteos.jpg");
            background-size: cover;
            h3 {
                text-align: center;
                font-size: 2rem;
            }
        }
        .prod__bebidas {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, rgba(128, 128, 128, 0.664),rgba(255, 255, 255, 0.137)), url("../img/home/productos/bebidas.jpg");
            background-size: cover;
            h3 {
                text-align: center;
                font-size: 2rem;
            }
        }
        .prod__golosinas {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, rgba(128, 128, 128, 0.664),rgba(255, 255, 255, 0.137)), url("../img/home/productos/golosinas.jpg");
            background-size: cover;
            h3 {
                text-align: center;
                font-size: 2rem;
            }
        }
        .prod__quesos{
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, rgba(128, 128, 128, 0.664),rgba(255, 255, 255, 0.137)), url(../img/home/productos/queso.jpg);
            background-size: cover;
            h3 {
                text-align: center;
                font-size: 2rem;
            }
        }
        .prod__Snacks {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, rgba(128, 128, 128, 0.664),rgba(255, 255, 255, 0.137)), url("../img/home/productos/snacks.jpg");
            background-size: cover;
            h3 {
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}



/* RESPONSIVE */

@media (min-width: 325px) and (max-width: 576px) {
.grid-home { 
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "navb"
            "carr"
            "sect"
            "sect2"
            "foot";
            grid-template-columns: 100vw;
    }


    .se1 {
        .titular {
            text-align: center;
        }
        .cuadro1 {
            display: flex;
            flex-direction: column;
            height: 80rem;
            padding: 1rem;
            width: 100vw;
            justify-content: space-around;
            .cuadro1__p {
                font-size: 3rem;
                text-align: center;
                margin: 0;
                width: auto;
            }
            .cuadro1__img {
                width: auto;
            }
        }
        .cuadro1--rev {
            display: flex;
            flex-direction: column-reverse;
            height: auto;
            padding: 1rem;
            width: 100vw;
            .cuadro1__p {
                font-size: 3rem;
                text-align: center;
                margin: 0;
                width: auto;
                justify-content: center;
            }
            .cuadro1__img {
                width: auto;
            }
        }
        }


.se2 {
    grid-area: sect2;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    .titulo__se2 {
        letter-spacing: 2px;
        justify-content: center;
    }
    .pro {
        display: grid;
        grid-template-columns:(1fr);
        height: 100rem;
}
}
}
