$bg--color:linear-gradient(to left, rgba(53, 192, 241, 0.5803921569), rgba(14, 84, 155, 0.8196078431));

.grid-productos {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "tit  tit  tit"
        "prom prom prom"
        "prod prod asi"
        "redes redes asi"
        "foot foot foot";
}

.titulo {
    grid-area: tit;
    text-align: center;
}

.grid-promo {
    grid-area: prom;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px red solid;
    height: 30rem;
    gap: 1rem;
    div {
        display: flex;
        border-radius: 15%;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        h3 { 
            text-align: center;
        }
    }  
}

.prod {
    grid-area: prod;
    display: flex;
    flex-direction: row;
    height: 10rem;
}

aside {
    grid-area: asi;
    display: flex;
    flex-direction: column;
    height: 20rem;
    color: white;
}

@media (min-width: 325px) and (max-width: 576px) {
    body {
        background: $bg--color;
    

    .grid-productos {
        display: grid;
        height: 100vh;
        grid-template-areas: 
            "navb"
            "tit"
            "prom"
            "prod"
            "asi"
            "foot";
            grid-template-columns: 100vw;
}

.titulo {
    grid-area: tit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        display: flex;
        align-items: center;
        height: 10rem;
        text-align: center;
    }
}

aside {
    height: 100rem;
    padding-bottom: 2rem;
    .tituloMedios {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem ;
        background-color: #4c4c4c;
        font-size: 2rem;
        color: #ffffff;
        font-stretch: extra-expanded;
        font-variant: all-petite-caps;
    }
    .descuento {
        display: flex;
        flex-direction: column;
        height: 30rem;
        border-radius: 2rem;
        align-items: center;
        background-color: #4c4c4c;
        margin: 1rem;
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.164);
            color: white;
            width: 100%;
        }
        img {
            border-radius: 20%;
            height: 10rem;
        }
        p {
            font-size: 1rem;
            text-align: justify;
            padding: 1rem;
        }
    }
}
    }
}