$bg--color:linear-gradient(to left, rgba(53, 192, 241, 0.5803921569), rgba(14, 84, 155, 0.8196078431));

.grid-quienes {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "navb navb navb"
        "ubi  ubi   ubi"
        "marc marc marc"
        "comu comu comu"
        "redes redes redes"
        "foot foot foot";
}


.ubicados {
    grid-area: ubi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 20rem;
    h2 {
        text-align: center;
    }
}

.marcas {
    grid-area: marc;
    .conte {
        display: flex;
        flex-direction: column;
        .conte__titulo {
            text-align: center;
        }
        .conte__item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

.comunidad {
    grid-area: comu;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-evenly;
    h2 {
        text-align: center;
    }
}

.redes {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    .redes__titulo {
        text-align: justify;
    }
    .redes__item {
        ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
            list-style: none;
            display: flex
        }
    }
    }
}
/* responsive cel */
@media (min-width: 325px) and (max-width: 576px) {
    body {
        background: $bg--color;
    }
    .grid-quienes { 
            display: grid;
            height: 100vh;
            grid-template-areas: 
                "navb"
                "ubi"
                "marc"
                "comu"
                "foot";
                grid-template-columns: 100vw;
        }

        .ubicados {
            grid-area: ubi;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            height: 25rem;
            margin: 0.5rem;
            h2 {
                text-align: center;
                font-size: 2rem;
            }
            p {
                text-align: justify;
                font-size: 1rem;
            }
        }

        .marcas {
            grid-area: marc;
            .conte {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 15rem;
                .conte__titulo {
                    text-align: center;
                    text-decoration: underline;
                }
                .conte__item {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }
            }
        }

        .comunidad {
            grid-area: comu;
            display: flex;
            flex-direction: column;
            height: 50rem;
            justify-content: space-evenly;
            background: radial-gradient(rgba(0, 0, 0, 0.459), rgba(255, 255, 255, 0.034)) ,url(../img/quienes/redes.jpg);
            background-size: cover;
            color: white;
            padding: 1rem;
            h2 {
                text-align: center;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10rem;
            }
            h3 {
                text-align: justify;
                font-size: 1rem;
            }
            .redes__titulo {
                text-align: justify;
            }
            .redes__item {
                height: 40rem;
                ul {
                    display: flex;
                    position: sticky;
                    top: 0;
                    flex-direction: row;
                    justify-content: end;
                    margin: 1rem;
                }
                li {
                    list-style: none;
                    display: flex
                }
            }
        }
    }
