* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.grid-home {
  display: grid;
  height: 100vh;
  grid-template-areas: "navb navb navb" "carr carr carr" "sect sect sect" "sect2 sect2 sect2" "foot foot foot";
}

.contenedor {
  grid-area: carr;
  height: 40rem;
  width: 100vw;
}
.contenedor img {
  height: 40rem;
  width: 100vw;
}

.se1 {
  grid-area: sect;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.se1 .titular {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.se1 .cuadro1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 50rem;
  padding: 1rem;
  width: 100vw;
}
.se1 .cuadro1 .cuadro1__p {
  margin: 1rem;
  display: flex;
  align-items: center;
  width: 50rem;
  font-size: 3rem;
}
.se1 .cuadro1 .cuadro1__img {
  margin: 1rem;
  display: flex;
  align-items: center;
  width: 30rem;
  font-size: 2rem;
}
.se1 .cuadro1 .cuadro1__img img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}
.se1 .cuadro1--rev {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50rem;
  padding: 1rem;
}
.se1 .cuadro1--rev .cuadro1__p {
  margin: 1rem;
  display: flex;
  align-items: center;
  width: 50rem;
  font-size: 3rem;
}
.se1 .cuadro1--rev .cuadro1__img {
  margin: 1rem;
  display: flex;
  align-items: center;
  width: 30rem;
  font-size: 2rem;
}
.se1 .cuadro1--rev .cuadro1__img img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}
.se1 .nuestros {
  background: linear-gradient(to left, black, transparent), url("../img/home/pexels-lucas-guizo-5337821.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;
  height: 50rem;
  color: rgba(240, 248, 255, 0.815);
}
.se1 .nuestros p {
  text-align: center;
  margin: 3rem;
}

.se2 {
  grid-area: sect2;
  display: grid;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
.se2 .titulo__se2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10rem;
  padding: 2rem;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  font-stretch: extra-expanded;
  font-variant: all-petite-caps;
  letter-spacing: 1rem;
}
.se2 .pro {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 30rem;
}
.se2 .pro a {
  text-decoration: none;
  color: #ffffff;
}
.se2 .pro .prod__lacteos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(128, 128, 128, 0.664), rgba(255, 255, 255, 0.137)), url("../img/home/productos/lacteos.jpg");
  background-size: cover;
}
.se2 .pro .prod__lacteos h3 {
  text-align: center;
  font-size: 2rem;
}
.se2 .pro .prod__bebidas {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(128, 128, 128, 0.664), rgba(255, 255, 255, 0.137)), url("../img/home/productos/bebidas.jpg");
  background-size: cover;
}
.se2 .pro .prod__bebidas h3 {
  text-align: center;
  font-size: 2rem;
}
.se2 .pro .prod__golosinas {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(128, 128, 128, 0.664), rgba(255, 255, 255, 0.137)), url("../img/home/productos/golosinas.jpg");
  background-size: cover;
}
.se2 .pro .prod__golosinas h3 {
  text-align: center;
  font-size: 2rem;
}
.se2 .pro .prod__quesos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(128, 128, 128, 0.664), rgba(255, 255, 255, 0.137)), url(../img/home/productos/queso.jpg);
  background-size: cover;
}
.se2 .pro .prod__quesos h3 {
  text-align: center;
  font-size: 2rem;
}
.se2 .pro .prod__Snacks {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(128, 128, 128, 0.664), rgba(255, 255, 255, 0.137)), url("../img/home/productos/snacks.jpg");
  background-size: cover;
}
.se2 .pro .prod__Snacks h3 {
  text-align: center;
  font-size: 2rem;
}

/* RESPONSIVE */
@media (min-width: 325px) and (max-width: 576px) {
  .grid-home {
    display: grid;
    height: 100vh;
    grid-template-areas: "navb" "carr" "sect" "sect2" "foot";
    grid-template-columns: 100vw;
  }
  .se1 .titular {
    text-align: center;
  }
  .se1 .cuadro1 {
    display: flex;
    flex-direction: column;
    height: 80rem;
    padding: 1rem;
    width: 100vw;
    justify-content: space-around;
  }
  .se1 .cuadro1 .cuadro1__p {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: auto;
  }
  .se1 .cuadro1 .cuadro1__img {
    width: auto;
  }
  .se1 .cuadro1--rev {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding: 1rem;
    width: 100vw;
  }
  .se1 .cuadro1--rev .cuadro1__p {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: auto;
    justify-content: center;
  }
  .se1 .cuadro1--rev .cuadro1__img {
    width: auto;
  }
  .se2 {
    grid-area: sect2;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .se2 .titulo__se2 {
    letter-spacing: 2px;
    justify-content: center;
  }
  .se2 .pro {
    display: grid;
    grid-template-columns: 1fr;
    height: 100rem;
  }
}
.menu {
  grid-area: navb;
}
.menu .navbar-expand-lg {
  background-color: rgba(222, 231, 241, 0.5215686275);
}
.menu .navbar-expand-lg .navbar-collapse {
  justify-content: end;
}
.menu .navbar-brand img {
  border-radius: 50%;
  width: 5rem;
  height: auto;
}
.menu .titulo {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 3rem;
  font-weight: bolder;
  width: 30rem;
}

footer .final {
  grid-area: foot;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(222, 231, 241, 0.5215686275);
  align-items: center;
  text-align: center;
  height: 30rem;
  width: 100vw;
}
footer .final p {
  display: flex;
  color: rgba(56, 57, 58, 0.662745098);
}

@media (min-width: 325px) and (max-width: 576px) {
  .menu {
    grid-area: navb;
  }
  .menu .titulo {
    justify-content: center;
  }
}
.grid-quienes {
  display: grid;
  height: 100vh;
  grid-template-areas: "navb navb navb" "ubi  ubi   ubi" "marc marc marc" "comu comu comu" "redes redes redes" "foot foot foot";
}

.ubicados {
  grid-area: ubi;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20rem;
}
.ubicados h2 {
  text-align: center;
}

.marcas {
  grid-area: marc;
}
.marcas .conte {
  display: flex;
  flex-direction: column;
}
.marcas .conte .conte__titulo {
  text-align: center;
}
.marcas .conte .conte__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.comunidad {
  grid-area: comu;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-evenly;
}
.comunidad h2 {
  text-align: center;
}

.redes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
}
.redes .redes__titulo {
  text-align: justify;
}
.redes .redes__item ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.redes .redes__item ul li {
  list-style: none;
  display: flex;
}

/* responsive cel */
@media (min-width: 325px) and (max-width: 576px) {
  body {
    background: linear-gradient(to left, rgba(53, 192, 241, 0.5803921569), rgba(14, 84, 155, 0.8196078431));
  }
  .grid-quienes {
    display: grid;
    height: 100vh;
    grid-template-areas: "navb" "ubi" "marc" "comu" "foot";
    grid-template-columns: 100vw;
  }
  .ubicados {
    grid-area: ubi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25rem;
    margin: 0.5rem;
  }
  .ubicados h2 {
    text-align: center;
    font-size: 2rem;
  }
  .ubicados p {
    text-align: justify;
    font-size: 1rem;
  }
  .marcas {
    grid-area: marc;
  }
  .marcas .conte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
  }
  .marcas .conte .conte__titulo {
    text-align: center;
    text-decoration: underline;
  }
  .marcas .conte .conte__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .comunidad {
    grid-area: comu;
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-evenly;
    background: radial-gradient(rgba(0, 0, 0, 0.459), rgba(255, 255, 255, 0.034)), url(../img/quienes/redes.jpg);
    background-size: cover;
    color: white;
    padding: 1rem;
  }
  .comunidad h2 {
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
  }
  .comunidad h3 {
    text-align: justify;
    font-size: 1rem;
  }
  .comunidad .redes__titulo {
    text-align: justify;
  }
  .comunidad .redes__item {
    height: 40rem;
  }
  .comunidad .redes__item ul {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: end;
    margin: 1rem;
  }
  .comunidad .redes__item li {
    list-style: none;
    display: flex;
  }
}
.grid-productos {
  display: grid;
  height: 100vh;
  grid-template-areas: "navb navb navb" "tit  tit  tit" "prom prom prom" "prod prod asi" "redes redes asi" "foot foot foot";
}

.titulo {
  grid-area: tit;
  text-align: center;
}

.grid-promo {
  grid-area: prom;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px red solid;
  height: 30rem;
  background-color: black;
  gap: 1rem;
}
.grid-promo div {
  display: flex;
  border-radius: 15%;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.grid-promo div h3 {
  text-align: center;
}

.prod {
  grid-area: prod;
  display: flex;
  flex-direction: row;
  height: 10rem;
  background-color: blueviolet;
}

aside {
  grid-area: asi;
  display: flex;
  flex-direction: column;
  height: 20rem;
  background-color: black;
  color: white;
}

@media (min-width: 325px) and (max-width: 576px) {
  .grid-productos {
    display: grid;
    height: 100vh;
    grid-template-areas: "navb" "tit" "prom" "prod" "asi" "foot";
    grid-template-columns: 100vw;
  }
  .titulo {
    grid-area: tit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .titulo h2 {
    display: flex;
    align-items: center;
    height: 10rem;
    text-align: center;
  }
  aside {
    height: 100rem;
    padding-bottom: 2rem;
  }
  aside .descuento {
    display: flex;
    flex-direction: column;
    height: 30rem;
    border-radius: 2rem;
    align-items: center;
    background-color: #4c4c4c;
    margin: 1rem;
  }
  aside .descuento h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    width: 100%;
  }
  aside .descuento img {
    border-radius: 20%;
    height: 10rem;
  }
  aside .descuento p {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
  }
}/*# sourceMappingURL=main.css.map */